* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: grey;

    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

body {
    display: table;
    width: 100%;
    height: 100%;
    background-color: #171717;
    color: #000;
    line-height: 1.6;
    position: relative;
    font-family: sans-serif;
}

.lines {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    margin: auto;
    width: 90vw;
}

.lines .line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
}

.lines .line::after {
    content: "";
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(75%, #ffffff), to(#ffffff));
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    -webkit-animation: run 7s 0s infinite;
    animation: run 7s 0s infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.lines .line:nth-child(1) {
    margin-left: -25%;
}

.lines .line:nth-child(1)::after {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.lines .line:nth-child(3) {
    margin-left: 25%;
}

.lines .line:nth-child(3)::after {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}



.header {
    display: flex;

    .header-content {
        display: inline-flex;
        width: 100%;
        padding: 15px;
        justify-content: space-around;
    }

    .navbar {
        width: 40%;
        display: flex;
        align-items: center;

        ul {
            list-style: none;
            display: flex;
            width: 100%;
            justify-content: space-evenly;
        }

        ul li {
            display: inline-block;
        }

        a {
            text-decoration: none;
            text-transform: uppercase;
            transition: all 300ms;
        }

        a:hover {
            color: white;
        }
    }

    .logo-web {
        width: 10%;
    }

    .download-btn {
        border-radius: 20px;
        width: 7%;
        height: 50px;
        border: none;
        cursor: pointer;
        margin-top: 10px;
        transition: all 300ms;
    }

    .download-btn:hover {
        border-radius: 25px;
        background-color: gray;
        color: white;
    }
}


.slide {
    width: 50%;
    height: 100%;
    position: absolute;

    left: 25%;
    opacity: 0;
    transition: opacity $slide-transition-time ease-in-out;
}

.slider {
    position: relative;
    width: 50%;
    margin: 0 auto;
}

.slides {
    display: flex;
    overflow: hidden;
}

.slides img {
    width: 100%;
    height: auto;
    display: block;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    color: black;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.slide-txt {
    padding-top: 30px;
    width: 50%;
    margin: 0 auto;

    p {
        font-weight: 600;
        font-size: 20px;

        span {
            color: lightcyan;
        }

    }
}

.footer {
    padding: 30px;

    .footer-container {
        display: flex;
        justify-content: space-evenly;
    }

    .ul-footer {
        padding: 25px;

        .copy {
            color: aliceblue;
        }

        ul {
            list-style: none;

            a {
                text-decoration: none;

                li {
                    transition: all;
                }

                li:hover {
                    color: aliceblue;
                }
            }
        }
    }
}


.yae-fixed {
    width: 200px;
    position: fixed;
    bottom: -10px;

    animation: noelleSlide 1s ease-in-out;
}

@keyframes noelleSlide {
    0% {
        transform: translateY(200px);
    }

    100% {}
}