* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: grey;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

body {
  display: table;
  width: 100%;
  height: 100%;
  background-color: #171717;
  color: #000;
  line-height: 1.6;
  position: relative;
  font-family: sans-serif;
}

.lines {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  margin: auto;
  width: 90vw;
}

.lines .line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.lines .line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  animation: run 7s 0s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.lines .line:nth-child(1) {
  margin-left: -25%;
}

.lines .line:nth-child(1)::after {
  animation-delay: 2s;
}

.lines .line:nth-child(3) {
  margin-left: 25%;
}

.lines .line:nth-child(3)::after {
  animation-delay: 2.5s;
}

.header {
  display: flex;
}

.header .header-content {
  display: inline-flex;
  width: 100%;
  padding: 15px;
  justify-content: space-around;
}

.header .navbar {
  width: 40%;
  display: flex;
  align-items: center;
}

.header .navbar ul {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.header .navbar ul li {
  display: inline-block;
}

.header .navbar a {
  text-decoration: none;
  text-transform: uppercase;
  transition: all 300ms;
}

.header .navbar a:hover {
  color: white;
}

.header .logo-web {
  width: 10%;
}

.header .download-btn {
  border-radius: 20px;
  width: 7%;
  height: 50px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  transition: all 300ms;
}

.header .download-btn:hover {
  border-radius: 25px;
  background-color: gray;
  color: white;
}

.slide {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 25%;
  opacity: 0;
  transition: opacity 0.5 ease-in-out;
}

.slider {
  position: relative;
  width: 50%;
  margin: 0 auto;
}

.slides {
  display: flex;
  overflow: hidden;
}

.slides img {
  width: 100%;
  height: auto;
  display: block;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  color: black;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
}

.prev {
  left: 10px;
  background-color: #171717;
  color: white;
  border-radius: 50%;
}

.next {
  right: 10px;
  background-color: #171717;
  color: white;
  border-radius: 50%;
}

.slide-txt {
  padding-top: 30px;
  width: 50%;
  margin: 0 auto;
}

.slide-txt p {
  font-weight: 600;
  font-size: 18px;
}

.slide-txt p span {
  color: lightcyan;
}

.footer {
  padding: 30px;
}

.footer .footer-container {
  display: flex;
  justify-content: space-evenly;
}

.footer .ul-footer {
  padding: 25px;
}

.footer .ul-footer .copy {
  color: aliceblue;
}

.footer .ul-footer ul {
  list-style: none;
}

.footer .ul-footer ul a {
  text-decoration: none;
}

.footer .ul-footer ul a li {
  transition: all;
}

.footer .ul-footer ul a li:hover {
  color: aliceblue;
}

.yae-fixed {
  width: 200px;
  position: fixed;
  bottom: -10px;
  animation: noelleSlide 1s ease-in-out;
}

@keyframes noelleSlide {
  0% {
    transform: translateY(200px);
  }
}

/*# sourceMappingURL=styles3.css.map */